In [3]:
print("Bienvenidos al curso de Python para Data Science")
print("Año ", 2020, ".")

Bienvenidos al curso de Python para Data Science
Año  2020 .

In [8]:
nombre = "Andrea Gonzalez"
print(nombre)


edad = 30
print(edad)

Andrea Gonzalez
30

In [9]:
1nombre = "Juanito"
print(1nombre)

SyntaxError: invalid syntax (<ipython-input-9-f27fbff8d253>, line 1)

In [11]:
nombre apellido = "Juanito Morales"
print(nombre apellido)

SyntaxError: invalid syntax (<ipython-input-11-79119278097a>, line 1)

In [13]:
nombre_apellido = 'Juanito Morales'
print(nombre_apellido)

Juanito Morales

In [17]:
pi = 3.14
altura = 1.68

#La variable altura es de tipo flotante
print("Mi altura es: ", altura, " cm")

Mi altura es:  1.68  cm

In [18]:
altura = "1.68"

#La variable altura es de tipo cadena de texto
print("Mi altura es: ", altura, " cm")

Mi altura es:  1.68  cm

In [21]:
altura = float("1.68")

altura = altura + 0.10
print("Mi altura es: ", altura, " cm")

Mi altura es:  1.78  cm

In [22]:
altura = "1.68"

altura = altura + 0.10
print("Mi altura es: ", altura, " cm")

TypeError: can only concatenate str (not "float") to str

In [25]:
valor1 = 200
valor2 = 120
subtotal = valor1 + valor2
print("Subtotal: ",subtotal)

Subtotal:  320

In [26]:
iva = subtotal * 12 / 100
print("IVA: ", iva)

IVA:  38.4

In [28]:
descuento = subtotal * 0.10
print("Descuento: ", descuento)

Descuento:  32.0

In [30]:
total = subtotal + iva - descuento
print("Total: $", total)

Total: $ 326.4

In [39]:
#Formato de salida
#print( "{:.2f}".format(3.1456889) )
#print( "%.2f" % (3.141568)  )

## Ingreso de datos

In [40]:
# La función por defecto devuelve una  cadena de caracteres
nombre = input( "Ingrese su nombre: " )

# Aquí el signo + sirve para concatenar
print("Bienvenido/a "+nombre)

Ingrese su nombre: Alicia
Bienvenido/a Alicia

In [41]:
# Ingresar la edad y el sueldo para luego mostrar los valores

edad = input("Ingrese su edad: ")
edad = int(edad)
edad -= 1 # edad = edad - 1

print("Edad para el 2020: ", edad)

Ingrese su edad: 34
Edad para el 2020:  33

In [46]:
sueldo = float(input("Ingrese su sueldo: "))
print("Su sueldo $", "{:.2f}".format(sueldo) )

Ingrese su sueldo: 200.2874392347
Su sueldo $ 200.29

## Operadores matemáticos

In [47]:
edad = int(input("Ingrese su edad: "))
print(edad)

Ingrese su edad: 18
18

In [49]:
mayorEdad = edad >= 18
print("¿Es mayor de edad? ", mayorEdad)

¿Es mayor de edad?  True

In [51]:
esAdolescente =  12 <= edad and edad < 18   #12 <= edad < 18
print("¿Es adolescente? ", esAdolescente)

¿Es adolescente?  False

In [58]:
# En caso que la edad ingresada sea mayor o igual que 18 entonces mostrar que 'Préstamo aprobado'
# En caso que la edad sea menor que 18 entonces mostrar que 'Préstamo denegado'

edad = int(input("Ingrese su edad: "))

if edad >= 18:
    print('Préstamo aprobado')
else:
    print('Préstamo denegado')

Ingrese su edad: 12
Préstamo denegado

## Ejercicio
Ingrese el nombre completo, el año nacimiento y el monto de un préstamo. En caso de ser menor de edad, se niega el préstamo. En caso de ser mayor de edad (>= 18 años) se otorgará el préstamo bajo las siguientes condiciones para el monto:

* No se otorga préstamos para montos menores de \\$1999.
* Si el monto está entre \\$2000 y \\$3999 debe calcular una tasa de interés del 2%
* Si el monto está entre \\$4000 y \\$6000 debe calcular una tasa de interés del 1%

In [61]:
nombre = input("Ingrese el nombre completo: ")
anio = int(input("Ingrese el año: "))
monto = float(input("Ingrese el monto: "))

edad = 2020 - anio

if edad < 18:
    print("Se niega el préstamo")
else:
    
    if monto <= 1999:
        print("No se otorga préstamos para montos menores de $1999")
        
    elif 2000 <= monto < 3999:
        interes = monto * 0.02
        print("Tendrás un interés de: ", interes)
        
    elif 4000 <= monto < 6000:
        interes = monto * 0.01
        print("Tendrás un interés de: ", interes)

Ingrese el nombre completo: Juanita
Ingrese el año: 1985
Ingrese el monto: 90000000
Tendrás un interés de:  900000.0

## Listas y estructura de repetición

In [63]:
prestamos = [2300, 3214, 3450, 1980, 2020, 4530]
personas = [ "Juan", "María", "Andrés", "Carlos", "Vanessa", "Lucía"]

In [65]:
print( prestamos )
print( personas )

[2300, 3214, 3450, 1980, 2020, 4530]
['Juan', 'María', 'Andrés', 'Carlos', 'Vanessa', 'Lucía']

In [67]:
total = sum( prestamos )
print("El total es $", total)

El total es $ 17494

In [68]:
cantidades = len(prestamos)
print("La cantidad de préstamos otorgados son: ", cantidades)

La cantidad de préstamos otorgados son:  6

In [70]:
promedio = sum(prestamos)/len(prestamos)
print("El promedio de préstamos es: ", "{:.2f}".format(promedio))

El promedio de préstamos es:  2915.67

In [71]:
total = sum(personas)
print(total)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Listas paralelas

In [74]:
print( personas[0] , prestamos[0] )
print( personas[1] , prestamos[1] )
print( personas[2] , prestamos[2] )
print( personas[3] , prestamos[3] )
print( personas[4] , prestamos[4] )
print( personas[5] , prestamos[5] )

Juan 2300
María 3214
Andrés 3450
Carlos 1980
Vanessa 2020
Lucía 4530

In [76]:
for elemento in personas:
    print(elemento)

Juan
María
Andrés
Carlos
Vanessa
Lucía

In [78]:
for elemento in prestamos:
    print(elemento)

2300
3214
3450
1980
2020
4530

In [81]:
for indice in range(len(personas)):
    print( indice, personas[indice], prestamos[indice] )

0 Juan 2300
1 María 3214
2 Andrés 3450
3 Carlos 1980
4 Vanessa 2020
5 Lucía 4530