In [119]:
print("Hola mundo")

Hola mundo

In [120]:
# Este un comentario

print("HOla mundo")

HOla mundo

## Creación de variables

In [121]:
edad = 30

print(edad)

30

In [122]:
print(edad)

30

In [123]:
edad = 25
print(edad)

25

In [124]:
dinero = 128.50
print(dinero)

128.5

In [125]:
mensaje = 'El dinero recibido es '

print(mensaje, dinero)

El dinero recibido es  128.5

In [126]:
nombre = 'Allan '
apellido = 'Avendaño'


print(nombre + apellido)

Allan Avendaño

## Identificadores

In [127]:
nombre2 = 'Arelis'
print(nombre2)

Arelis

In [128]:
print(Nombre2)

NameError: name 'Nombre2' is not defined

In [ ]:
2nombre = 'Allison'
print(2nombre)

# Salida por pantalla

In [ ]:
print("Nombre: ", nombre, " apellido: ", apellido)

In [ ]:
print( "Nombre: {} apellido: {}".format( nombre, apellido  )    )

## Operadores

In [129]:
# Crear tres variables: precio, cantidad y total 
# Asignen valores entero y flotantes
# Realicen las operaciones total = precio * cantidad
# Muestre por pantalla el total

precio = 12.2
cantidad = 3
total = precio * cantidad

print("Total: {}".format(total) )

Total: 36.599999999999994

In [ ]:
# Calcular el valor del iva
# Mostrar el totalAPagar = total + iva


iva = total * 12 / 100 
totalAPagar = total + iva
print("Total a pagar ${:.0f} ".format(totalAPagar))

print("Total a pagar $", totalAPagar)

## Ingreso de datos

In [ ]:
nombre = input("Ingrese su nombre: ")
print(nombre)

In [ ]:
print(nombre)

In [ ]:
# Ingrese su nombre y apellido 
# Muestre por pantalla, uno después de otro

nombre = input("Ingrese su nombre: ")
apellido = input("Ingrese su apellido: ")

print("Bienvenido ", nombre + apellido)

In [ ]:
# Ingrese el precio y la cantidad
# Calcular el total

precio = int( input("Ingrese el precio del artículo: ") )
print("El precio es ${}".format(precio))

In [ ]:
# Ingrese el precio y la cantidad
# Calcule el total
# Calcule el iva
# Calcule el total a pagar
# Muestre por pantalla

precio = float(input("Ingrese el precio: "))
cantidad = int(input("Ingrese el cantidad: "))
total = precio * cantidad
iva = total * 0.12
totalAPagar = total + iva
print("El total a pagar: ${}".format(totalAPagar))

## Valores de verdad

In [ ]:
encendido = False
print(encendido)

In [ ]:
edad = 22 
esMayorEdad = edad >= 18
print(esMayorEdad)

In [ ]:
estaEncendido = encendido == True
print(estaEncendido)

## Estructura condicional

In [ ]:
if <condicion> :
    print()
    print()
    print()

In [ ]:
edad = 18

if edad >= 18:
    print("Es mayor de edad")
    print("Tiene {} años".format(edad))

In [ ]:
# Ingrese un precio
# Si el precio es menor o igual que 15 debe mostrar un mensaje con "Está en descuento"

precio = float(input("Ingrese el precio: "))

if precio <= 15:
    print("Está en descuento")

In [ ]:
edad = 15

if edad >= 18:
    print("Es mayor de edad")
    print("Tiene {} años".format(edad))
else:
    print("Es menor de edad")
    print("Tiene {} años".format(edad))

In [ ]:
edad = 28

if edad >= 18:
    print("Es mayor de edad")
    print("Tiene {} años".format(edad))  
elif edad > 0 and edad <= 12:
    print("Es un infante")
else:
    print("Es menor de edad")
    print("Tiene {} años".format(edad))

In [ ]:
# Ingrese un precio y una cantidad
# Dependiendo de la cantidad tendrá un descuento
# En caso de ser mayor que 100, el descuento es del 15%
# En caso de estar entre 10 y 100, el descuento es del 12%
# Para cualquier otro caso, no hay descuento
# Al final, muestre el total a pagar

precio = float(input("Ingrese el precio: "))
cantidad = float(input("Ingrese el cantidad: "))

if cantidad > 100:
    descuento = 15
elif 10 < cantidad <= 100:
    descuento = 12
else:
    descuento = 0
    
total = precio * cantidad
totalDescuento = total * descuento / 100
totalAPagar = total - totalDescuento

print("Total a pagar {}".format(totalAPagar))

## Listas y estructuras de repetición

In [130]:
precios = [ 3.4 , 5, 2, 6 ]
print(precios)

[3.4, 5, 2, 6]

In [ ]:
# Lista de nombres 
# muestre los nombres por pantalla

nombres = [ "Martha" , "Andrea", "Camila" ]
print(nombres)

In [132]:
nombres = []
print(nombres)

[]

In [133]:
nombres.append("Arelis")
print(nombres)

['Arelis']

In [134]:
nombres.insert(0, 'Allison')
print(nombres)

['Allison', 'Arelis']

In [ ]:
for <variable-local> in  <variable-a-iterar>:
    ...

In [ ]:
nombres = 12

In [137]:
for nombre in nombres:
    print(nombre)

Allison
Arelis

In [141]:
# Ingresar 5 nombres
# Mostrar cada nombre por separado

nombres = []

for el in range(0,100):
    nombre = input("Ingrese un nombre: ")
    nombres.append(nombre)
    
print(nombres)

Ingrese un nombre: A
Ingrese un nombre: B
Ingrese un nombre: C
Ingrese un nombre: D
Ingrese un nombre: E
['A', 'B', 'C', 'D', 'E']

In [143]:
print(nombres)

['A', 'B', 'C', 'D', 'E']

In [146]:
print( nombres[3] )

D

In [149]:
nombres[4] = 'Z'

print(nombres)

['A', 'B', 'C', 'D', 'Z']

In [150]:
nombres[-1] = 'N'
print(nombres)

['A', 'B', 'C', 'D', 'N']